.colorpicker {
	width: 280px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(./images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(./images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 20px;
	height: 150px;
	cursor: n-resize;
	background: url(./images/colorpicker_slider.png);
	margin-left: 6px;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(./images/colorpicker_indic.gif) left top no-repeat;
	margin: -4px 0 0 -6px;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 15px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 15px;
	left: 213px;
	top: 35px;
	background: #f00;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 17px;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 17px;
	width: 50px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 17px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
	background: url(../toolbar/images/order_change.png) no-repeat left center; 
}
.colorpicker_rgb_r {
	top: 70px;
	left: 212px;
}
.colorpicker_rgb_g {
	top: 90px;
	left: 212px;
}
.colorpicker_rgb_b {
	top: 110px;
	left: 212px;
}
.colorpicker_hsb_h {
	display: none;
}
.colorpicker_hsb_s {
	display: none;
}
.colorpicker_hsb_b {
	display: none;
}
.colorpicker_submit {
	display: none;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
