/*
Scene stylesheet

Date: 06-06-2012
Author: Michal Glenc
*/

#scene {
	background-color: #cccccc;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	cursor: default;
}